@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(wallpaper.jpg);
}

#start{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

#start>button{
   padding: 20px;
   border-radius: 10px;
   background-color: rgb(76, 253, 76);
   border: none;
   font-family: 'ZCOOL KuaiLe', cursive;
   font-size: 20px;
   font-weight: bold;
   margin-top: 20%;
}

#game{
    width: 500px;
    height: 200px;
    border: 4px solid white;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
    background: url(landscape.jpg);
    visibility: hidden;
}

#character{
    position: relative;
    top: 140px;
    left: 20px;    
}

.animate{
    animation: jump 500ms;
}

#character>img{
    width: 60px;
    height: 50px;
    
}

#block{
    width: 20px;
    height: 20px;
    position: relative;
    top: 115px;
    left: 470px;
}

.animateBall{
    animation: block 1s infinite;
}

#block>img{
    width: 20px;
    height: 20px;
}

@keyframes block{
    0%{left: 478px;}
    100%{left: -40px;}
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}